
/*GENERALITES*/
li{
    list-style : none;
}
a{
    text-decoration: none;
    color : rgb(37, 37, 37);
}
a:hover {
    color : rgb(90, 90, 90);
}
/*PAGE D'ACCUEIL*/

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 960;
    background: #fafafa;
    border-bottom: 1px solid rgb(214, 214, 214);
    position: fixed;
    width: 100%;
    height: 100px;

}
.header-container h1 {
    margin: auto 0;
}
.header-navbar {
}
.header-navbar ul {
    margin : auto;
    display: flex;
}

.header-navbar ul li a{
    margin : 10px;
}
.footer-address{
    margin:0;
}
.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}
.index-container h1 {
    font-size: 50px;
}

/*PAGE CALENDRIER*/
.calendar {
    border: solid 1px #777;
    width:100%;
    height:300px;
    margin : auto;
  }
  .calendar-title-top {
      width : 60%;
      margin : auto;
      text-align: center;
  }

  /*PAGE PHOTOS*/
  .photo-layout{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;

  }
  .photo-container {
      width: 200px;
      height: 200px;
      margin: 10px;
      display: flex;
  }
  .photo-container img{
    object-fit: cover;
    width : 400px;
  }
  .photo-container img:hover {
      height: 100%;

  }
/*PAGE CONTACT*/
  .contact-layout {
      margin:auto;
      text-align: center;
  }

  @media (max-width : 700px){

    .header-navbar ul{
        font-size: 12px;
    
    }
    .header-navbar ul li {
        margin-bottom:1px;

    }

  }
  @media (max-width : 500px){

  .header-navbar ul{
      flex-direction: column;
  
  }
 

}